extends ../layouts/tenerife

block content
    .container: .jumbotron
        .row
            .col-md-8
                .h2=__("thingstodoH2")
                p=__("thingstodoP1")
                p
                    a(href='https://www.dropbox.com/s/a8i0384flvx778s/Dive%20Center%20Aquanautic.pdf', target='_blank')="Dive Centre Aquanautic"
                    span=__("diving")
                p
                    a(href='http://www.tripadvisor.co.uk/Travel-g187479-d247440/Tenerife:Spain:Masca.Valley.html', target='_blank')="Masca Valley"
                    span=__("masca")
                p
                    a(href='https://www.dropbox.com/s/q5dejqyfm7d8sb6/Teleferico%20del%20Teide.pdf', target='_blank')="Teide Teleferico"
                    span=__("teide")
                p
                    a(href='https://www.dropbox.com/s/rhdtlqg3nvhc3u6/Forestal%20Park.pdf', target='_blank')="Forestal Park"
                    span=__("forestal")
                p
                    a(href='https://www.dropbox.com/s/rbhwn4nwky3egfp/Jungle%20Park.pdf', target='_blank')="Jungle Park"
                    span=__("jungle")
                p
                    a(href='https://www.dropbox.com/s/gz87rtfbwzr9fdp/Mar%20de%20Ons%20excursiones.pdf', target='_blank')="Mar de Ons Excursions"
                    span=__("excursions")
                p
                    a(href='https://www.dropbox.com/s/iufd0xcnegjhogy/Sailing%20Yacht.pdf', target='_blank')="Sailing"
                    span=__("sailing")
                p
                    a(href='http://www.bob-diving.com/', target='_blank')="BOB Diving"
                    span=__("bobdiving")
                p
                    a(href='http://www.challengingtenerife.com/Paginas/ingles/index-in.htm', target='_blank')="Tenerife Challenging"
                    span=__("challenging")
                p
                    a(href='https://www.dropbox.com/s/ynwsla7zivj5ure/Mi%20Pesca%20Tenerife.pdf', target='_blank')="Mi Pesca Tenerife"
                    span=__("fishing")
                p
                    a(href='http://www.flyboardtenerife.com/index_en.html', target='_blank')="FlyBoard"
                    span=__("flyboard")
                p
                    a(href='https://www.dropbox.com/s/ut7zh3jkvzfcd6j/Tenerife%20Dolphin.pdf', target='_blank')="Tenerife Dolphin"
                    span=__("dolphin")
                p
                    a(href='http://www.sandos.com/hotel-san-blas-in-san-miguel-de-abona/environmental-reserve-tour/services.htm?gt=1', target='_blank')="Environmental Reserva San Blas"
                    span=__("reserva")
                p
                    a(href='https://www.dropbox.com/s/0q17l1q0au81xq9/Pueblo%20Chico.pdf', target='_blank')="Pueblo Chico"
                    span=__("chico")
                p
                    a(href='http://www.horseridingintenerife.com/', target='_blank')="Dive Centre Aquanautic"
                    span=__("horses")
                p
                    a(href='http://www.tripadvisor.co.uk/Attraction_Review-g187479-d247301-Reviews-Garachico-Tenerife_Canary_Islands.html', target='_blank')="Garachico"
                    span=__("garachico")
                p
                    a(href='http://community.silverpoint.com/2012/11/15/top-five-secluded-beaches-in-tenerife/', target='_blank')="Top Five secluded beaches in Tenerife"
                    span=__("beaches")
                p
                    a(href='http://tenerifeparapente.com/Tenerife_Parapente/Bienvenidos.html', target='_blank')="Tenerife Paragliding"
                    span=__("paragliding")
                p
                    a(href='http://www.abamahotelresort.com/', target='_blank')="Abama Golf and Spa Resort"
                    span=__("abamagolf")
                p
                    a(href='http://www.golfcostaadeje.com/en_championship_course.htm', target='_blank')="Golf Costa Adeje"
                    span=__("adejegolf")
                p
                    a(href='https://www.dropbox.com/s/6552k93361ew7da/La%20casa%20del%20Camello.pdf', target='_blank')="La casa del Camello"
                    span=__("camel")
                p
                    a(href='https://www.dropbox.com/s/ngwsc5lour78rgn/Quad%20%2B%20Buggy.pdf', target='_blank')="Quad and Buggy"
                    span=__("quadbuggy")
                p
                    a(href='https://www.dropbox.com/s/nyr41zpvy97fxee/Quad%20Safari.pdf', target='_blank')="Quad Safari"
                    span=__("quadsafari")
                p
                    a(href='https://www.dropbox.com/s/ai5clxx36394r13/Segway_Bikes.pdf', target='_blank')="Segway Rides"
                    span=__("segway")
                p
                    a(href='http://www.raftingbike.com/', target='_blank')="Rafting Bike"
                    span=__("cycling")
                p
                    a(href='https://www.dropbox.com/s/95vh6a0xssldmrb/Club%20Termal%20Aqua.pdf', target='_blank')="Club Thermal Aqua"
                    span=__("spa")
                p
                    a(href='https://www.dropbox.com/s/s31trl3miug42gj/Tenerife%20Pearl.pdf', target='_blank')="Tenerife Pearl"
                    span=__("jewelery")
            .col-md-4
                img(src='images/1Diving.jpg', width="100%")
                p
                img(src='images/1golf.jpg', width="100%")
                p
                img(src='images/1Golf2.jpg', width="100%")
                p
                img(src='images/1LosGigantes.jpg', width="100%")
                p
                img(src='images/1Sailing.jpg', width="100%")
                p
                img(src='images/1Teide.jpg', width="100%")
                p
                img(src='images/1TeideSnow.jpg', width="100%")
            
                